/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

.row {
    margin: 0 auto;
    max-width: 100%;
    min-width: 768px;
    width: 940px;
}
.row .row {
    margin: 0 -15px;
    max-width: none;
    min-width: 0;
    width: auto;
}
.row.collapse .column, .row.collapse .columns {
    padding: 0;
}
.row .row {
    margin: 0 -15px;
    max-width: none;
    min-width: 0;
    width: auto;
}
.row .row.collapse {
    margin: 0;
}
.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}
.column.centered, .columns.centered {
    float: none;
    margin: 0 auto;
}
[class*="column"] + [class*="column"]:last-child {
    float: right;
}
[class*="column"] + .end[class*="column"] {
    float: left;
}
.one, .row .one {
    width: 8.33333%;
}
.two, .row .two {
    width: 16.6667%;
}
.three, .row .three {
    width: 25%;
}
.four, .row .four {
    width: 33.3333%;
}
.five, .row .five {
    width: 41.6667%;
}
.six, .row .six {
    width: 50%;
}
.seven, .row .seven {
    width: 58.3333%;
}
.eight, .row .eight {
    width: 66.6667%;
}
.nine, .row .nine {
    width: 75%;
}
.ten, .row .ten {
    width: 83.3333%;
}
.eleven, .row .eleven {
    width: 91.6667%;
}
.twelve, .row .twelve {
    width: 100%;
}
.row .offset-by-one {
    margin-left: 8.33333%;
}
.row .offset-by-two {
    margin-left: 16.6667%;
}
.row .offset-by-three {
    margin-left: 25%;
}
.row .offset-by-four {
    margin-left: 33.3333%;
}
.row .offset-by-five {
    margin-left: 41.6667%;
}
.row .offset-by-six {
    margin-left: 50%;
}
.row .offset-by-seven {
    margin-left: 58.3333%;
}
.row .offset-by-eight {
    margin-left: 66.6667%;
}
.row .offset-by-nine {
    margin-left: 75%;
}
.row .offset-by-ten {
    margin-left: 83.3333%;
}